# Importing Dataset

In [1]:
import pandas as pd

In [19]:
df = pd.read_csv('Python_task.csv',parse_dates=['Date'])

In [20]:
df.head()

,Transaction No,Date,Item Reference No,Product,Category,SubCategory,mergedcategories,Quantity,Sales,Promotion Indicator
0,505061428-204,2020-07-06,5.010980e+11,TUNNOCKS MLK CARAMEL WAFER120G,CONFECTIONERY,BISCUITS,CONFECTIONERY BISCUITS,2.00,7.17,0
1,505061429-204,2020-07-06,2.100670e+11,PUMPKIN GREEN (KG),VEGETABLES,PUMPKIN,VEGETABLES PUMPKIN,0.83,5.87,0
2,505061429-204,2020-07-06,2.102210e+11,ONION RED (KG),VEGETABLES,ONION,VEGETABLES ONION,1.49,1.70,1
3,505061429-204,2020-07-06,2.100490e+11,TOMATO LOCAL (KG),VEGETABLES,TOMATOES,VEGETABLES TOMATOES,0.41,6.91,0
4,505061429-204,2020-07-06,2.100900e+11,PEPPER HOT GREEN INDIA (KG),VEGETABLES,PEPPER,VEGETABLES PEPPER,0.14,16.34,0

### Calculate total sales of all transactions

The total Sales of all the trnasaction is calculated using Sum() function which is the built-in function of Python for calculation the sum.

In [21]:
df['Sales'].sum()

10377885.179999996

### Top 10 best performing products based on sales value

To find out the top 10 performing products based on the sales value, groupby function is applied to calculate the total sales generated by each product and first 10 records are selected as the Top 10 products with the highest sales

In [22]:
sales = df[['Product','Sales']]

Sort function is used to sort the sales in descending order so the products which has highest sales should come on the top

In [23]:
sales.groupby('Product').sum().sort_values(by=['Sales'], ascending=False).head(10)

                                          Sales
Product
LOCAL VEAL BONELESS.KG.                81014.06
BANANA KG                              75268.91
CARDAMOM AMERICAN #2 (KG)              73189.24
STEAK TOP SIDE BRAZILIAN (KG)          69594.85
SALMON FILLEH FRESH (KG)               65166.45
TOMATO LOCAL (KG)                      62955.86
SINIORA SMOKED TURKEY BREAST (KG)      61539.13
HALWANI SMOKED TURKEY (KG)             61538.70
ALMOND RAW AMERICAN (KG)               50457.75
NAIMI LAMB LIVE CARCASS (22-26 KG) PC  50217.42

### 10 least performing products based on quantities sold

To find out the 10 products which has the least sales based on the quantities sold are calculated. For calculation of least performing products the groupby function is applied and sum of quantity sold by each product is calculated and the results are sorted in ascending order and top 10 products are selected

In [24]:
quantity = df[['Product','Quantity']]

Sort function is applied to top up the products which has the least sales on the top and head function is used to select first 10 records

In [25]:
quantity.groupby('Product').sum().sort_values(by=['Quantity'], ascending=True).head(10)

                                          Quantity
Product
BROWN FLOUR MAIN  INGREDIENT                 0.060
NABIL BEEF PEPPERONI (KG)                    0.120
SINIORA BEEF MORTADELLA PISTASHIO(KG)        0.138
HENRI WILLIG GOUDA OLD BLACK CHEESE (KG)     0.140
PAPPER HOT KARAZ GREEN (KG)                  0.146
ALTANMIA ROAST BEEF SANDWICH (KG)            0.168
BARIYA ARABIC DARK COFFEE (KG)               0.186
JACK CHEESE WITH PEPEER (KG)                 0.202
EGYPTIAN GREEN OLIVES (KG)                   0.204
PK ORG GREEN PESTO (KG)                      0.216

### Find top 2 products which is bought along with “BANANA KG”

Select the Products which are Banana KG

In [26]:
banana = df.query("Product =='BANANA KG' ")

In [27]:
banana.head()

,Transaction No,Date,Item Reference No,Product,Category,SubCategory,mergedcategories,Quantity,Sales,Promotion Indicator
5,505061429-204,2020-07-06,2.100760e+11,BANANA KG,FRUITS,BANANA,FRUITS BANANA,0.92,3.04,1
117,505061442-204,2020-07-06,2.100760e+11,BANANA KG,FRUITS,BANANA,FRUITS BANANA,2.43,3.05,1
183,505061447-204,2020-07-06,2.100760e+11,BANANA KG,FRUITS,BANANA,FRUITS BANANA,1.44,3.04,1
287,505061451-204,2020-07-06,2.100760e+11,BANANA KG,FRUITS,BANANA,FRUITS BANANA,1.19,3.05,1
337,505061454-204,2020-07-06,2.100760e+11,BANANA KG,FRUITS,BANANA,FRUITS BANANA,1.33,3.05,1

Applying Groupby function to find out the quantity total sold by products of Banana Kg

In [28]:
banana.groupby('Product').sum().sort_values(by=['Quantity'], ascending=False).head(2)

           Item Reference No   Quantity     Sales  Promotion Indicator
Product
BANANA KG       4.800447e+15  36608.802  75268.91                18035

### Column calculate total sales for Monday and Sunday

Extracting Day Name from Date so we can select the Monday and Sunday for Data Analysis

In [29]:
df["Weekday"] = df["Date"].dt.strftime('%A')

In [30]:
df.head()

,Transaction No,Date,Item Reference No,Product,Category,SubCategory,mergedcategories,Quantity,Sales,Promotion Indicator,Weekday
0,505061428-204,2020-07-06,5.010980e+11,TUNNOCKS MLK CARAMEL WAFER120G,CONFECTIONERY,BISCUITS,CONFECTIONERY BISCUITS,2.00,7.17,0,Monday
1,505061429-204,2020-07-06,2.100670e+11,PUMPKIN GREEN (KG),VEGETABLES,PUMPKIN,VEGETABLES PUMPKIN,0.83,5.87,0,Monday
2,505061429-204,2020-07-06,2.102210e+11,ONION RED (KG),VEGETABLES,ONION,VEGETABLES ONION,1.49,1.70,1,Monday
3,505061429-204,2020-07-06,2.100490e+11,TOMATO LOCAL (KG),VEGETABLES,TOMATOES,VEGETABLES TOMATOES,0.41,6.91,0,Monday
4,505061429-204,2020-07-06,2.100900e+11,PEPPER HOT GREEN INDIA (KG),VEGETABLES,PEPPER,VEGETABLES PEPPER,0.14,16.34,0,Monday

Select the Monday andd Sunday using query function. Query function is the built-in function of python which is used to select the data based on the condition

In [33]:
sun_mon = df.query("Weekday =='Monday' or Weekday =='Sunday' ")

In [34]:
sun_mon.head()

,Transaction No,Date,Item Reference No,Product,Category,SubCategory,mergedcategories,Quantity,Sales,Promotion Indicator,Weekday
0,505061428-204,2020-07-06,5.010980e+11,TUNNOCKS MLK CARAMEL WAFER120G,CONFECTIONERY,BISCUITS,CONFECTIONERY BISCUITS,2.00,7.17,0,Monday
1,505061429-204,2020-07-06,2.100670e+11,PUMPKIN GREEN (KG),VEGETABLES,PUMPKIN,VEGETABLES PUMPKIN,0.83,5.87,0,Monday
2,505061429-204,2020-07-06,2.102210e+11,ONION RED (KG),VEGETABLES,ONION,VEGETABLES ONION,1.49,1.70,1,Monday
3,505061429-204,2020-07-06,2.100490e+11,TOMATO LOCAL (KG),VEGETABLES,TOMATOES,VEGETABLES TOMATOES,0.41,6.91,0,Monday
4,505061429-204,2020-07-06,2.100900e+11,PEPPER HOT GREEN INDIA (KG),VEGETABLES,PEPPER,VEGETABLES PEPPER,0.14,16.34,0,Monday

In [35]:
day = sun_mon[["Weekday","Sales"]]

Applying Groupby function on Weekday. In weekday we have Monday and Sunday to calculate the Sales made on Monday and Sunday

In [37]:
day.groupby('Weekday').sum().sort_values(by=['Sales'], ascending=False).head(2)

              Sales
Weekday
Monday   1390398.77
Sunday   1365318.54